<h1>Students</h1>
<a routerLink="add" class="btn btn-sm btn-success mb-2">Add Student</a>
<table class="table table-striped">
    <thead>
        <tr>
            <th style="width: 10%">Student#</th>
            <th style="width: 20%">Student Name</th>
            <th style="width: 20%">Last Name</th>
            <th style="width: 30%">Birth Date</th>
            <th style="width: 20%">Gender</th>
            <th style="width: 10%">CreatedBy</th>
            <th style="width: 10%">UpdateBy</th> 
            <th style="width: 10%"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let student of studentData">
            <td>{{student.studentid}}</td>
            <td>{{student.student_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.date_of_birth | date :'yyyy-MM-dd'}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.created_by}}</td>
            <td>{{student.updated_by}}</td>
      
            <td style="white-space: nowrap">
                <a routerLink="edit/{{student.studentid}}" class="btn btn-sm btn-primary mr-1">Edit</a>
                <button (click)="deleteStudent(student.studentid)" class="btn btn-sm btn-danger btn-delete-user" [disabled]="student.isDeleting">
                    <span *ngIf="student.isDeleting" class="spinner-border spinner-border-sm"></span>
                    <span *ngIf="!student.isDeleting">Delete</span>
                </button>
            </td>
        </tr>
        <tr *ngIf="!studentData">
            <td colspan="4" class="text-center">
                <span class="spinner-border spinner-border-lg align-center"></span>
            </td>
        </tr>
    </tbody>
</table>