<div class="p-4">
    <div class="container">
        <h1>Hi {{user.email}}!</h1>
        <p>You're logged in!!</p>
        <p><a routerLink="/students">Manage Students</a></p>
        <p><a routerLink="/users">Manage Users</a></p>
        <p><a routerLink="/grades">Manage Grades</a></p>
        <p><a routerLink="/periods">Manage Periods</a></p>
        <p><a routerLink="/classes">Manage Classes</a></p>
        <p><a routerLink="/rosters">Manage Register</a></p>
        <p><a routerLink="/reports">Manage Reports</a></p>
    </div>
</div>