<h1 *ngIf="isAddMode">Add Period</h1>
<h1 *ngIf="!isAddMode">Edit Period</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="form-row">
        <div class="form-group col" style="display:none">
            <label for="periodid">period#</label>
            <input type="hidden" formControlName="periodid" class="form-control" [ngClass]="" />
            <!--<div *ngIf="submitted && f.periodid.errors" class="invalid-feedback">
                <div *ngIf="f.periodid.errors.required">period Id# is required</div>
            </div> -->
        </div>
        <div class="form-group col">
            <label for="periodname">Period</label>
            <input type="text" formControlName="periodname" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.periodname.errors }" />
            <div *ngIf="submitted && f.periodname.errors" class="invalid-feedback">
                <div *ngIf="f.periodname.errors.required">Class Name is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="period_desc">Description</label>
            <input type="text" formControlName="period_desc" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.period_desc.errors }" />
            <div *ngIf="submitted && f.period_desc.errors" class="invalid-feedback">
                <div *ngIf="f.period_desc.errors.required">Description is required</div>
            </div>
        </div>        
    </div>
    <div class="form-row"> 
        <div class="form-group col">
            <label for="period_date">Period Date#</label>
            <input type="text" formControlName="period_date" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.period_date.errors }" />
            <div *ngIf="submitted && f.period_date.errors" class="invalid-feedback">
                <div *ngIf="f.period_date.errors.required">Date is required</div>
            </div>
        </div>
        <div class="form-group col">
            <label for="period_start">Start</label>
            <input type="text" formControlName="period_start" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.period_start.errors }" />
            <div *ngIf="submitted && f.period_start.errors" class="invalid-feedback">
                <div *ngIf="f.period_start.errors.required">Period start is required</div>
            </div>
        </div>        

    </div>
    <div class="form-row"> 
        <div class="form-group col">
            <label for="period_end">Period End</label>
            <input type="text" formControlName="period_end" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.period_end.errors }" />
            <div *ngIf="submitted && f.period_end.errors" class="invalid-feedback">
                <div *ngIf="f.period_end.errors.required">Date is required</div>
            </div>
        </div>
    </div>
    <div class="form-row"> 
        <div class="form-group col">
            <input type="hidden" formControlName="created_by" class="form-control" [ngClass]="">
            <input type="hidden" formControlName="updated_by" class="form-control" [ngClass]="">
        </div>
    </div>
    <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
            <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
            Save
        </button>
        <a routerLink="/periods" class="btn btn-link">Cancel</a>
    </div>
</form>